
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  background-image: url('../imagens/fundo-madeira.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  div.celular{
    width: 98vw;

    iframe{
      position: absolute;
      right: 50.5%;
      bottom:53.5%;
      height: 470px;
      width: 265px;

      transform: translate(50%, 50%);
    }

    img{
      display: block;
      margin: auto;
    }
  }

  div.logos{
    position: absolute;
    top: 0px;
    left: 93%;
    height: 90vh;
    width: 100px;
    margin: auto;

    img{
      display: block;
      width: 50px;
      border-radius: 50%;
      box-shadow: 0px 0px 7px 1px black;
      padding: 10px;
      margin: 10px;
      transition: 0.7s;
    }

    img:hover{
      
      width: 50px;
      right: 2px;
      transform: translate(-10%, 0%)
    }
  }
}